/* Bordered form */
.login_form {
  border: 3px solid #f1f1f1;
  width: 60%;
  position:absolute;
  top:10%;
  left:20%
}

.popup{
    background-color: white;
  width: 100vw;
  position: relative;
  
  left: calc(-50vw + 50%);
  z-index: 1;
  height: 10vw;
  box-shadow: 5px 10px #888888;

}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    text-align: center;
    font-weight: bold;
    font: bold 32px/normal Verdana, Geneva, sans-serif;

}
.back_button {
    padding-left: 10px;

    }

.chatroom_title{
    text-align: center;
    vertical-align: baseline;
    padding: 15px;
    padding-top: 19px

}


.username_input{
    width: 60%;
    position: relative;
    left: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



input[type=password] {
  width: 60%;
  position: relative;
  left: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.form_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  position: relative;
  left: 20%
}

.chatman_title{
    text-align: center
}

/* Add a hover effect for buttons */
.form_button:hover {
  opacity: 0.8;
}

.root{
    position: absolute;
    width: 100%;
    height: 100vh;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
}

.title{
    position:absolute;
    width: 80%;
    left:10%;
    font: normal 22px/normal Verdana, Geneva, sans-serif;
    text-align: center;
    vertical-align: middle;
}
.main_screen_wrapper.is-small-screen{
    height: 90%;
}


.main_screen_wrapper {
    position: absolute;
    padding: 20px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    border: none;
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    text-align: center;
    background: #d5e0e5;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    transition: all 0.5s ease-out;
}


.roomlist_closed_drawer{
    margin-top: 5%;
    position:absolute;
    width: 20%;
    height: 80%;
    bottom: 10%;
    margin-left: 5%;
    overflow: scroll;
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    text-align: center;
    background: #d5e0e5;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    transition-delay: margin .5s;
    padding: 20px;
}

.room:hover{
    opacity: 0.8;
    background-color:red
}


.room_name
{
    vertical-align: middle;
    margin: 10px;
}

.is_typing{
    display: inline-block;
    position: absolute;
    left: 5%;
    right:50%;
    padding-left: 18px;
    bottom: 2em;
}

.send_message_form {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  right: 0;
  left: 0;
  bottom: 0;
  padding: auto 10px 1000px;
  overflow: hidden;
  border: 1px solid #b7b7b7;
  text-overflow: clip;
}

input {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  left:29%
}

.message_in{
    display: inline-block;
    list-style-type: none;
    position:relative;
    clear: both;
    float: left;
    padding: 10px;
    left: 5%;
    background-color: #90caf9;
    max-width: 40%;
    height: 100%;
    border-radius: 25px;
    margin-top: 8px;
    text-overflow: clip;
    white-space: normal;
    word-wrap:break-word
}

.message_out{
    display: inline-block;
    list-style-type: none;
    position:relative;
    clear: both;
    float: right;
    padding: 10px;
    right: 5%;
    background-color: #90caf9;
    max-width: 40%;
    height: 100%;
    border-radius: 25px;
    margin-top: 8px;
    text-overflow: clip;
    white-space: normal;
    word-wrap:break-word

}

.server_info{
    list-style-type: none;
    display: inline-block;
    position: relative;
    clear: both;
    float: left;
    left: 5%;
    border-radius: 25px;
}

.chat_tab{
    background: #d5e0e5;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0

}

.message_container {
  position: absolute;
  bottom: 3.5em;
  left: 0;
  right: 0;
  top:0;
  padding: 20px;
  overflow: scroll;
  border: none;
  font: normal 16px/1 Verdana, Geneva, sans-serif;
  text-align: center;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
